.footer-container {
    background-color: #A294F9; /* Set background to #A294F9 */
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .txt-lg {
    font-size: 1.25rem;
  }
  
  .fw-semibold {
    font-weight: 600;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-white {
    color: white;
  }
  