
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .md\:flex-row {
    display: flex;
    flex-direction: row;
  }

  .gap-6 {
    gap: 1.5rem;
  }
  

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  

  .w-full {
    width: 100%;
  }
  
  .md\:w-1\/2 {
    width: 50%;
  }
  

  .rounded-lg {
    border-radius: 0.5rem;
  }
  

  .border-2 {
    border-width: 2px;
  }
  
  .border-primary {
    border-color: #007BFF;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .bg-light {
    background-color: #f7f7f7;
  }
  
  

  .overflow-x-auto {
    overflow-x: auto;
  }

  .txt-secondary {
    color: #6c757d;
  }
  