.mg-0 {
    margin: 0;
}

.mg-1 {
    margin: calc(var(--spacing) * 1);
}

.mg-2 {
    margin: calc(var(--spacing) * 2);
}

.mg-3 {
    margin: calc(var(--spacing) * 3);
}

.mg-4 {
    margin: calc(var(--spacing) * 4);
}

.mg-5 {
    margin: calc(var(--spacing) * 5);
}

.mg-6 {
    margin: calc(var(--spacing) * 6);
}

.mg-top {
    margin-top: calc(var(--spacing) * 1);
}

.mg-right {
    margin-right: calc(var(--spacing) * 1);
}

.mg-bottom {
    margin-bottom: calc(var(--spacing) * 1);
}

.mg-left {
    margin-left: calc(var(--spacing) * 1);
}

.mg-neg {
    margin: calc(var(--spacing) * -1);
}

.mg-neg-top {
    margin-top: calc(var(--spacing) * -1);
}


@media (min-width: 768px) {
    .md:mg-1 {
        margin: calc(var(--spacing) * 1);
    }

    .md:mg-2 {
        margin: calc(var(--spacing) * 2);
    }

    .md:mg-3 {
        margin: calc(var(--spacing) * 3);
    }

    .md:mg-4 {
        margin: calc(var(--spacing) * 4);
    }

    .md:mg-top-1 {
        margin-top: calc(var(--spacing) * 1);
    }

    .md:mg-right-1 {
        margin-right: calc(var(--spacing) * 1);
    }

    .md:mg-bottom-1 {
        margin-bottom: calc(var(--spacing) * 1);
    }

    .md:mg-left-1 {
        margin-left: calc(var(--spacing) * 1);
    }
}


@media (min-width: 1024px) {
    .lg:mg-1 {
        margin: calc(var(--spacing) * 1);
    }

    .lg:mg-2 {
        margin: calc(var(--spacing) * 2);
    }

    .lg:mg-3 {
        margin: calc(var(--spacing) * 3);
    }

    .lg:mg-4 {
        margin: calc(var(--spacing) * 4);
    }

    .lg:mg-top-1 {
        margin-top: calc(var(--spacing) * 1);
    }

    .lg:mg-right-1 {
        margin-right: calc(var(--spacing) * 1);
    }

    .lg:mg-bottom-1 {
        margin-bottom: calc(var(--spacing) * 1);
    }

    .lg:mg-left-1 {
        margin-left: calc(var(--spacing) * 1);
    }
}
