.pd-0 {
    padding: 0;
}

.pd-1 {
    padding: calc(var(--spacing) * 1);
}

.pd-2 {
    padding: calc(var(--spacing) * 2);
}

.pd-3 {
    padding: calc(var(--spacing) * 3);
}

.pd-4 {
    padding: calc(var(--spacing) * 4);
}

.pd-5 {
    padding: calc(var(--spacing) * 5);
}

.pd-6 {
    padding: calc(var(--spacing) * 6);
}

.pd-top {
    padding-top: calc(var(--spacing) * 1);
}

.pd-right {
    padding-right: calc(var(--spacing) * 1);
}

.pd-bottom {
    padding-bottom: calc(var(--spacing) * 1);
}

.pd-left {
    padding-left: calc(var(--spacing) * 1);
}

/* Tablet (medium screen) */
@media (min-width: 768px) {
    .md\:pd-0 {
        padding: 0;
    }

    .md\:pd-1 {
        padding: calc(var(--spacing) * 1);
    }

    .md\:pd-2 {
        padding: calc(var(--spacing) * 2);
    }

    .md\:pd-3 {
        padding: calc(var(--spacing) * 3);
    }

    .md\:pd-4 {
        padding: calc(var(--spacing) * 4);
    }

    .md\:pd-5 {
        padding: calc(var(--spacing) * 5);
    }

    .md\:pd-6 {
        padding: calc(var(--spacing) * 6);
    }

    .md\:pd-top {
        padding-top: calc(var(--spacing) * 1);
    }

    .md\:pd-right {
        padding-right: calc(var(--spacing) * 1);
    }

    .md\:pd-bottom {
        padding-bottom: calc(var(--spacing) * 1);
    }

    .md\:pd-left {
        padding-left: calc(var(--spacing) * 1);
    }
}


@media (min-width: 1024px) {
    .lg\:pd-0 {
        padding: 0;
    }

    .lg\:pd-1 {
        padding: calc(var(--spacing) * 1);
    }

    .lg\:pd-2 {
        padding: calc(var(--spacing) * 2);
    }

    .lg\:pd-3 {
        padding: calc(var(--spacing) * 3);
    }

    .lg\:pd-4 {
        padding: calc(var(--spacing) * 4);
    }

    .lg\:pd-5 {
        padding: calc(var(--spacing) * 5);
    }

    .lg\:pd-6 {
        padding: calc(var(--spacing) * 6);
    }

    .lg\:pd-top {
        padding-top: calc(var(--spacing) * 1);
    }

    .lg\:pd-right {
        padding-right: calc(var(--spacing) * 1);
    }

    .lg\:pd-bottom {
        padding-bottom: calc(var(--spacing) * 1);
    }

    .lg\:pd-left {
        padding-left: calc(var(--spacing) * 1);
    }
}
